@import './custom-properties.css';

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: white;
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 110%;
}

.face{
  border: grey;
  border-width: 2;
  border-style: solid;
  border-radius: 15px;
  box-shadow: 3px 3px 10px 2px #0000007c;
}

.faceCont{
  display: flex;
  justify-content: center;
}

.mail{
  width: 3vw;
  /* height: auto; */
}

.mailRow{
  display: flex;
  align-items: center;
}
 
.title{
  text-shadow: 2px 1px 3px rgba(131, 131, 131, 0.6);
}

.subtitle{
  text-shadow: 2px 1px 3px rgba(131, 131, 131, 0.6);
}

.subhead{
  color: rgb(92, 92, 92);
}